* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'JetBrains Mono', monospace;
}

html {
/*	min-height: 100%;*/
}

body {
	background-color: #edebe4;
	padding-bottom: 40px;
	min-height: 100vh;
}

a:link {
	color: #e39b00;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #e39b00;
	background-color: transparent;
	text-decoration: underline;
}

a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	background-color: transparent;
	text-decoration: underline;
}

footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	padding: 5px;
	background-color: #4F5D75;
	color: white;
	width: 100%;

}

#body-cont {
	padding-bottom: 2em;
}

#footer-name {
	color: #42F5BF !important;
}

#portfolio-btn {
	font-family: 'IBM Plex Sans', sans-serif;
}

#landing-jumbo {
	background-color: #BFC0C0;
	color: black;
	display: flex;
	height: 25%;
}

#intro-cont {
	text-align: center;
	padding-top: 20px;
	padding: 3em;
}

#about-me {
	margin-top: 20px;
	padding: 20px;
	justify-content: center;
	display: flex;
	border-radius: 10px;
	background-color: #fff;
}

#about-greet {
	font-weight: 700;
}

#portfolio {
	margin-top: 20px;
	padding: 20px;
	justify-content: center;
	display: flex;
	border-radius: 10px;
	background-color: #fff;	
}

#port-works {
	text-align: center;
	font-weight: 700;
}

#mern-stack-img {
	background-image: url(../images/MERN-Stack.png);
}

#work-proj-cont {
	display: center;
	text-align: center;
}

#contact-area {
	margin-top: 5vh;
	padding: 30px;
	border-radius: 10px;
	background-color: #fff;
  	position: relative;
}

#contact-cont {

}

#map-side {
	padding: 10px;
	border-radius: 10px;
	background-color: transparent;
	box-shadow: #BFC0C0 5px 5px;
}

#form-side {
	padding-top: 10px;
	padding-left: 20px;
}

#email-part {
	padding-top: 20px;
}

#contact-submit {
	padding-top: 30px;
}

#hire-txt {
	font-weight: 700;
}

#full-stack-work {
	background-color: #fff;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-style: dotted;
	margin-bottom: 10px;
	border-radius: 10px;
	
}

#front-end-work {
	background-color: #fff;
	border-style: dotted;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}

#back-end-work {
	background-color: #fff;
	border-style: dotted;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 2em;
	border-radius: 10px;
}

#proj-cat-txt {
	font-weight: 700;
}

#navbar-home {
	position: fixed;
	width: 100%;
	background-color: #2D3142;
}

#prev-car-img {
	width: auto;
	max-height: 500px;
}

#tech-cont {
	padding-top: 10px;
}

#tech-used-txt {
	font-weight: 600 !important;
}

#proj-title {
	font-weight: 700 !important;
}



.navbar {
	width: 100%;
	background-color: #2D3142;
	z-index: 999;
}

.mern {
	height: 30vh;
	/*margin: 10px;*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.car-cont {
	color: white;
	font-size: 20px;
	background-color: black;
	margin: 5px;
}

.map-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.map-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999;
}

.proj-carousel {
	height: auto;
}

.carousel-item {
	overflow: hidden;
	width: 100%;
}
.carousel-item img {
	width: 100%;
}

/*make carousel arrow more visible*/
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: black !important;
}

.fa-react {
	color: #61DBFB;
}

.fa-html5 {
	color: #e34c26;
}

.fa-css3-alt {
	color: #264de4;
}

.fa-node {
	color: #3c873a;
}

.fa-mdb {
	color: #4DB33D;
}

.fa-bootstrap {
	color: #563d7c;
}

.fa-external-link-alt {
	color: #e39b00;
}